* {
	font-family: Calibri;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}
html, body {
	margin: 0;
	padding: 0;
	color: rgb(51 51 51);
	width: 100%;
	height: 100%;
	
}
header {
	background-color: #240046;
	min-height: 4rem;
	display: flex;
	align-items: center;
}
nav {
	width: 1250px;
	margin: 0 auto;
	display: flex;
	align-items: flex-end;
}
form {
	background-color: #3c096c;
	height: 4.5rem;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
input {
	width: 90%;
	height: 2.4rem;
	border: 1px solid #999;
	border-radius: 4px;
	font-size: 1.1em;
}
h1 {
	font-size: 2.4rem;
	margin-top: 20px;
}
li li {
	margin-bottom: 0.5rem;
}
main {
	max-width: 1250px;
	margin: 0 auto;
	display: flex;
}
article {
	min-width: 77%;
}
figcaption {
	text-align: center;
}
table {
	width: 100%;
	table-layout: fixed;
}
table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #999;
}
th, td {
	padding: 10px;
	text-align: center;
}
aside {
	min-width: 20%;
	margin: 1.5rem;
}
aside div > h2 {
	margin: 0;
	padding: 0;
}
aside div > ul {
	margin: 0;
}
aside div > h4, aside div > p {
	margin: 0;
	line-height: 1.5em;
}
footer {
	background-color: #EFEFEF;
	height: 22px;
	padding: 28px 0;
	text-align: center;
}
footer p {
	position: relative;
	bottom: 25px;
}
.nav-menu {
	margin: 0 0 0 1.5rem;
	padding: 0;
	display: inline-block;
}
.nav-menu li, .nav-menu a {
	text-decoration: none;
	color: #FFF;
	font-size: 1.1em;
	display: inline-block;
	padding: 0 .4rem;
}
.menu-button {
	display: none;
	background-color: #240046;
	margin: 0;
	padding: 0;
	width: 3rem;
	height: 3rem;
	border-radius: 3px;
	outline: none;
	border-style: none;
}
.small-nav {
	display: none;
	background-color: #240046;
	margin: 0;
	padding: 0;
}
.small-nav li {
	border-top: 1px solid #FFF;
	padding-left: 1.5rem;
	height: 4rem;
	list-style-type: none;
	display: flex;
	align-items: center;
}
.small-nav a {
	text-decoration: none;
	color: #FFF;
	font-size: 1.1em;
}
.search-bar {
	width: 1250px;
	display: flex;
	justify-content: space-between;
}
.search-button {
	background-color: #9d4edd;
	height: 2.4rem;
	width: 5rem;
	border-radius: 3px;
	border-style: none;
	margin: 0 1rem;
	cursor: pointer;
}
.anchor {
	height: 140px;
	margin-top: -140px;
	visibility: hidden;
}
.article-section {
	border-bottom: 1px solid #9d4edd;
}
.article-link {
	color: #7b2cbf;
	text-decoration: none;
}
.figure-one {
	float: right;
	width: 60%;
	transition: all .3s ease-in-out;
}
.figure-one:hover {
	width: 100%;
	margin: 1.2rem auto 1.5rem auto;
}
.figure-img {
	max-width: 100%;
}
.table-header {
	background-color: #3c096c;
	color: #FFF;
}
.table-subheader {
	background-color: #5a189a;
	color: #FFF;
}
.expand-div {
	border: 2px solid rgb(204, 204, 204);
	display: flex;
	cursor: pointer;
	margin-top: 0.2rem;
}
.expand-div img {
	background-color: #5a189a;
	align-self: center;
	border-radius: 3px;
	margin-left: 1.5rem;
}
.expand-div h2 {
	color: #5a189a;
	padding: 0 0.5rem;
	font-weight: 500;
}
.aside-div {
	border: 1px solid #ccc;
	padding: 0.7em;
	margin-bottom: 0.5em;
}
.scroll-up {
	background-color: #9d4edd;
	width: 3rem;
	height: 3rem;
	position: fixed;
	right: 0;
	bottom: 10px;
	margin: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
@media only screen and (max-width: 1150px) {
	nav {
		justify-content: space-between;
	}
	main {
		max-width: 100vw;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}
	aside {
		margin: 0;
	}
	.header-img {
		width: 13rem;
	}
	.nav-menu {
		display: none;
	}
	.menu-button {
		display: inline-block;
		margin-right: 2rem;
	}
	.search-bar {
		margin: 0 1.2rem;
	}
	.search-button {
		margin: 0 0 0 1.2rem;
	}
}
@media only screen and (max-width: 490px) {
	nav {
		flex-direction: column;
		align-items: center;
	}
	.menu-button {
		margin: 0;
	}
}
